.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login_form{
    width: 350px;
    height: 550px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    outline: none;
}
